<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
  <script src="static/scripts/setup.js"></script>

  <title>Decentralized HyperChat Program - home</title>
</head>
<body>
  <h3>Dcentralized Hyper Chat Program v{{config.version}}</h3>
  <form method="POST">
    <input type="text" name="message" placeholder="Message...">
    <input type="text" name="address" placeholder="Reciever Address">
    <input type="submit" vaule="Send Message!">
  </form>
</body>
</html>
