body {
  /* font */
  font-family: Helvetica Arial sans-serif;
  font-size: 14px;

  /* position and size */
  width: 98vw;
  height: 98vh;
}

#header {
  height: 15%;
}

#im-area {
  /* position */
  position: fixed;
  right: 0px;
  /*float: right;*/

  /* size */
  width: 70vw;
  height: 85vh;

  /* color */
  background-color: #383C44;
}

#message-list {
  /* size */
  height: 82vh;
}

  #message-list li {

  }

  #message-list li .message-author {

  }

  #message-list li .message-timestamp {

  }

  #message-list li .message-contents {

  }

#send-message-field {
  /* placement */
  position: fixed;
  bottom: 0px;

  /* size */
  width: 90%;
  height: 3vh;
}

#converstation-list {
  /* placement */
  position: fixed;
  left: 0px;

  /* size */
  width: 20vw;
  height: 85vh;
  padding: 10px;

  /* color */
  background-color: #28262C;

  /* font */
  font-size: 16px;
  color: #585560!important;
  vertical-align: center;
}
  #converstation-list .sidebar-entry button {
    /* size */
    width: 100%;
    height: 2em;

    /* color */
    background-color: inherit;

    /* font */
    color: #585560 !important;
    font-family: Courier monospace !important;
    text-decoration: none !important;
  }

  #converstation-list .sidebar-entry button:hover {
    /* animation */
    background-color: #383C44;
    transition-duration: 0.2s;
  }

  #converstation-list .sidebar-entry-selected button {

  }
