body {
  /* font */
  font-family: Helvetica Arial sans-serif;
  font-size: 14px;
}

#message-list {
  background-color: #383C44;
}

  #message-list li {

  }

  #message-list li .message-author {

  }

  #message-list li .message-timestamp {

  }

  #message-list li .message-contents {

  }

#send-message-field {

}

#converstation-list {
  /* placement */
  position: absolute;
  left: 0px;

  /* size */
  width: 25%;
  height: 100%;

  /* color */
  background-color: #28262C;

  /* font */
  font-size: 16px;
  color: #585560;
}
  #converstation-list .sidebar-entry div {
    /* size */
    width: 100%;
    height: 2em;

    /* color */
    background-color: inherit;
  }

  #converstation-list .sidebar-entry div:hover {
    /* animation */
    background-color: #383C44;
    transition-duration: 0.5s;
  }

  #converstation-list .sidebar-entry-selected div {

  }
